.banner-top.container-fluid{
    position: relative;
}
.banner-top.container-fluid::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: -1;
}
.banner-top .card img{
    height: 400px;
}
.banner-top .card-body{
    margin-top: 80px;
    margin-left: 30px;
    margin-bottom: 50px;
}
.banner-top .card-title.h5{
    font-size: 4.25rem;
}
.banner-top .card-text{
    font-size: 20px;
}